body {
    background-color: rgb(151, 151, 153);
}

.top-button {
    background-color: blue;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

#top-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#ios-topbar {    
    background: linear-gradient(
        to bottom,
        rgb(175,195,209),
        rgb(106,142,170)
    );
    padding: 12px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    box-shadow: 0px 1px 1px rgb(63, 63, 63);  
}

.ios-btn-active {
    text-shadow: 1px 1px rgb(49, 54, 162), 1px -1px #848484;
    width: 150px;
    position: relative;
    padding: 8px 18px;
    font: bold 13px/1 "Helvetica Neue", Arial, sans-serif;
    color: #fff;

    border-radius: 6px;
    border: 1px solid #5b6775;
    background: linear-gradient(
        to bottom,
        rgb(157,178,201),
        rgb(157,181,203),
        rgb(87,127,168)
    );

    box-shadow:
        inset 0 -2px 0 rgba(206, 203, 203, 0.6),   /* top bevel */
        inset 0 -2px 0 rgba(0,0,0,0.35),       /* bottom bevel */        
}

.ios-btn-active::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;

    background: linear-gradient(
        to bottom,
        rgba(255,255,255,0.1) 0%,
        rgba(255,255,255,0.1) 48%,
        rgba(255,255,255,0) 50%,
        rgba(255,255,255,0) 100%
    );

    pointer-events: none;
}

.ios-btn-active::after {
    content: "";
    position: absolute;
    inset: 1px;
    border-radius: inherit;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.25);
    pointer-events: none;
}

.ios-btn {
    width: 150px;
    position: relative;
    padding: 8px 18px;
    font: bold 13px/1 "Helvetica Neue", Arial, sans-serif;
    color: #fff;

    border-radius: 6px;
    border: 1px solid #5b6775;
    background: linear-gradient(
        to bottom,
        #c6d2df 0%,
        rgb(180,194,208),
        rgb(134,158,179)
    );

    box-shadow:
        inset 0 -4px 0 rgba(255,255,255,0.6),   /* top bevel */
        inset 0 -4px 0 rgba(0,0,0,0.35),       /* bottom bevel */        

    cursor: pointer;
}

.ios-btn::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;

    background: linear-gradient(
        to bottom,
        rgba(255,255,255,0.1) 0%,
        rgba(255,255,255,0.1) 48%,
        rgba(255,255,255,0) 50%,
        rgba(255,255,255,0) 100%
    );

    pointer-events: none;
}

.ios-btn::after {
    content: "";
    position: absolute;
    inset: 1px;
    border-radius: inherit;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.25);
    pointer-events: none;
}


#top-button-left {
    border-right: 0px;
    border-radius: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#top-button-middle {
    border-radius: 0px;
}
#top-button-right {
    border-left: 0px;
    border-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}


  