body {
    background-color: rgb(161, 161, 163);
}

.top-button {
    background-color: blue;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    height: 2px;
    background: rgb(177, 177, 179);
    font-size: 0;
    border: 0;
    box-shadow: 1px -1px rgb(154, 154, 155)
}

#top-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#ios-topbar {    
    background: linear-gradient(
        to bottom,
        rgb(175,195,209),
        rgb(106,142,170)
    );
    padding: 12px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    box-shadow: 0px 1px 1px rgb(63, 63, 63);  
}

.ios-btn-active {
    text-shadow: 1px 1px rgb(49, 54, 162), 1px -1px #848484;
    width: 150px;
    position: relative;
    padding: 8px 18px;
    font: bold 13px/1 "Helvetica Neue", Arial, sans-serif;
    color: #fff;

    border-radius: 8px;
    border: 1px solid #5b6775;
    background: linear-gradient(
        to bottom,
        rgb(157,178,201),
        rgb(85,125,164),
        rgb(87,127,168)
    );

    box-shadow:
        inset 0 -2px 0 rgba(206, 203, 203, 0.6),   
        inset 0 -2px 0 rgba(0,0,0,0.35),       
}

.ios-btn-active::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;

    background: linear-gradient(
        to bottom,
        rgba(255,255,255,0.2) 0%,
        rgba(255,255,255,0.2) 48%,
        rgba(255,255,255,0) 50%,
        rgba(255,255,255,0) 100%
    );

    pointer-events: none;
}

.ios-btn-active::after {
    content: "";
    position: absolute;
    inset: 1px;
    border-radius: inherit;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.25);
    pointer-events: none;
}

.ios-btn {
    width: 150px;
    position: relative;
    padding: 8px 18px;
    font: bold 13px/1 "Helvetica Neue", Arial, sans-serif;
    color: #fff;

    border-radius: 8px;
    border: 1px solid #5b6775;
    background: linear-gradient(
        to bottom,
        #c6d2df 0%,
        rgb(146,166,187),
        rgb(134,158,179)
    );

    box-shadow:
        inset 0 -4px 0 rgba(255,255,255,0.6),   
        inset 0 -4px 0 rgba(0,0,0,0.35),       

}

.ios-btn::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;

    background: linear-gradient(
        to bottom,
        rgba(255,255,255,0.2) 0%,
        rgba(255,255,255,0.2) 48%,
        rgba(255,255,255,0) 50%,
        rgba(255,255,255,0) 100%
    );

    pointer-events: none;
}

.ios-btn::after {
    content: "";
    position: absolute;
    inset: 1px;
    border-radius: inherit;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.25);
    pointer-events: none;
}


#top-button-left {
    border-right: 0px;
    border-radius: 0px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#top-button-middle {
    border-radius: 0px;
}
#top-button-right {
    border-left: 0px;
    border-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* Engraved Text effect:
https://www.30secondsofcode.org/css/s/engraved-embossed-text/ */

.game-creator-text {
    grid-area: creators;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    background-color: #000000;
    background-clip: text;
    -webkit-background-clip: text;
    color: rgb(60, 60, 60);
    text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
    margin: 0px;    
    margin-top: 12px;
    margin-left: 12px;
    padding: 0px;
}
.game-title-text {
    grid-area: title;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: 900;
    background-color: #000000;
    background-clip: text;
    -webkit-background-clip: text;
    color: black;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
    margin: 0px;
    margin-left: 12px;
    padding: 0px;
}

.game-details-text {
    grid-area: details;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: smaller;
    background-color: #000000;
    background-clip: text;
    -webkit-background-clip: text;
    color: rgb(60, 60, 60);
    text-shadow: 1px 1px rgba(255, 255, 255, 0.5);    
    margin: 0px;
    margin-bottom: 12px;
    margin-left: 12px;
    padding: 0px;
}

.game-list-image {
    grid-area: image;
    object-fit: cover;
    width: 82px;
    height: 82px;
    border-radius: 18px;
    box-shadow: 0px 4px 2px black;
    margin: 8px;
  }

  .arrow {
    grid-area: arrow;
    right: 0px;
    width: 40px;
    position: absolute;
  }

.game-entry {
    padding-top: 8px;
    padding-bottom: 12px;    
    display: inline-grid;
    grid-template-areas:
    "image creators ."
    "image title arrow"
    "image details .";
    align-items: center;
    grid-template-columns: min-content auto;
}
  

  